{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Log Out | {% include '_site_title.html' %}
{% endblock title %}


{% block content %}
<div class="container">
    <h2 class="title">Log Out</h2>
    <p class="subtitle">Are you sure you want to log out?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="button is-danger mt-1" type="submit">Log Out</button>
    </form>
</div>
{% endblock content %}
