version: '3.9'

services:
    web:
      environment:
        - AWS_ACCESS_KEY_ID=example
        - AWS_SECRET_ACCESS_KEY=example
        - AWS_STORAGE_BUCKET_NAME=example
        - EMAIL_HOST=example
        - EMAIL_HOST_PASSWORD=example
        - EMAIL_HOST_USER=example
        - EMAIL_PORT=111
        - EMAIL_USE_TLS=True
        - POSTGRES_NAME=example
        - POSTGRES_PASSWORD=example
        - POSTGRES_USER=example
        - SECRET_KEY=example
