[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.2.7"
psycopg2-binary = "==2.9.3"
django-crispy-forms = "==1.13.0"
django-allauth = "==0.47.0"
django-autoslug = "==1.9.8"
django-taggit = "==2.0.0"
django-filter = "==21.1"
whitenoise = "==5.3.0"
gunicorn = "==20.1.0"
dj-database-url = "==0.5.0"
django-heroku = "*"
django-debug-toolbar = "==3.2.4"
boto3 = "*"
django-storages = "*"
newrelic = "==7.4.0.172"

[requires]
python_version = "3.9"
