# Packages from Pipfile [packages]
django~=5.1
crispy-bulma
django-allauth[socialaccount]
django-autoslug
django-crispy-forms
django-filter
django-heroku
django-storages[s3]
django-taggit
django-upgrade
dj-database-url
gunicorn
psycopg[binary]
python-dotenv
whitenoise

# Packages from Pipfile [dev-packages]
django-debug-toolbar~=4.4
pylint
coverage
uv
