# Packages from Pipfile [packages]
django~=5.1
psycopg[binary]
django-crispy-forms
django-allauth[socialaccount]
django-autoslug
django-taggit
django-filter
whitenoise
gunicorn
dj-database-url
django-heroku
boto3
django-storages
crispy-bulma
python-dotenv

# Packages from Pipfile [dev-packages]
django-debug-toolbar~=4.4
pylint
coverage
uv

# Python version requirement
# Requires Python 3.11
