{% extends '_base_fluid.html' %}
{% load crispy_forms_tags %}

{% block title %}
Challenge List
{% endblock title %}


{% block content %}

<div class="columns">
    <div class="column is-one-quarter">
        <div class="section">
            <div class="container">
                <h3 class="title is-4">Search and sort</h3>
                <form action="" method="get">
                    {{ filter.form|crispy }}
                    <input class="button is-info" type="submit" />
                    <a class="button is-text" href="{% url 'challenge_filtered_list' %}">Clear</a>
                </form>
            </div><!-- .container -->
        </div><!-- .section -->

        <div class="section">
            <div class="container">
                <h4 class="title is-5">Filter by tag</h4>
                    <div class="tags">
                        {% for tag in tag_list %}
                            <a class="tag is-info is-light" href="{% url 'challenge_tag_filtered_list' tag.slug %}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div><!-- .tags -->
            </div><!-- .container -->
        </div><!-- .section -->
    </div><!-- .column -->

    <div class="column">
        <div class="container is-fluid">
            <h2 class="title">Challenges</h2>
                
            {% for challenge in filter.qs %}
            <div class="content">
                <h3 class="title is-4">
                    <a href="{{ challenge.get_absolute_url }}">{{ challenge.name }}</a>
                </h3>
            </div><!-- .content -->
            {% endfor %}
            
        </div><!-- .container .is-fluid -->
    </div><!-- .column -->

</div><!-- .columns -->


{% endblock content %}