<footer class="footer">
    <div class="content">
        <div class="columns has-text-centered">
            <div class="column">
                © 2020
            </div><!-- .column -->
    
            <div class="column">
                        <a href="{% url 'home' %}">Home</a> |
                        <a href="{% url 'about' %}">About</a> |
                        <a href="{% url 'privacy' %}">Privacy</a>
            </div><!-- .column -->
    
            <div class="column">
                Powered by <a href="https://lancegoyke.com">Lance Goyke</a>
            </div><!-- .column -->
        </div><!-- .columns -->
    </div><!-- .content -->
    
    
    
  </footer>