{% extends '_base.html' %}

{% block title %}
    About | {{ request.site.name }}
{% endblock title %}


{% block content %}
<div class="columns">
    <div class="column is-hidden-mobile"></div>

    <div class="column is-three-fifths">

        <h1 class="title is-1">About</h1>
        
        <div class="content">
            <p>
                <a href="#how-it-works">Skip to how it works.</a>
            </p>

            <p>
                Everyone wants to be better than they were the day before.
            </p>

            <p>
                Sure, you could sit comfortably with where you've come so far, but if you saw yourself one year in the future and found out your were EXACTLY the same, my guess is you'd be pretty disappointed.
            </p>

            <p>
                The primitive half of our brains, though, prefers to be conservative. They want to sit on the couch, eat everything they see, and stay up late.
            </p>

            <p class="has-text-weight-bold">
                How can we trick ourselves into being active, getting fit, and staying healthy for years to come?
            </p>

            <h2 class="is-3">Get better every day</h2>

            <p>
                Our bodies reinforce themselves to deal with the stresses they encounter.
            </p>

            <p>
                Get mad a lot at work? Then your arteries will harden to deal with your often increased blood pressure.
            </p>

            <p>
                Go for a run every day? Then your heart will learn to beat efficiently and your blood vessels will become more pliable.
            </p>

            <p>
                Lift weights four times a week? Then your muscles, bones, and joints will grow sturdy and strong.
            </p>

            <p>
                The trick to making progress is to <strong>persist.</strong> Do a little something to get better every day.
            </p>

            <h2 class="is-3">Measure your progress</h2>

            <p>
                So yes, this all makes sense: work really hard and then I will see results. Obviously. But how in the world will I find the time to work hard when I also have REAL work and a REAL family who need me?
            </p>

            <p>
                People respond best to SEEING their progress. Measure what you do and then you'll know if you're getting better. When your progress plateaus, find a new challenge to master.
            </p>

            <p>
                The difficult part is <strong>long-term goals are not good indicators of short-term success.</strong> We know what we want: we want to lose twenty pounds, or we want our doctor to be happy with our blood tests, or we want to be able to stay calm when little things go wrong.
            </p>

            <p>
                It is a great idea to pursue these outcomes, but the progress happens slowly, day-by-day, with <em>persistence.</em> Looking for long-term progress in the short-term is the fastest way to get frustrated. And what happens when we get frustrated? We quit.
            </p>

            <h2 class="is-3">Process goals over outcome goals</h2>

            <p>
                Weight loss, blood tests... these are outcomes. And you might only get your blood tests done every quarter! That's a really long interval for "trusting" a plan before you find out you know it works.
            </p>

            <p>
                Even measuring weight loss can be confusing. Your weight might fluctuate five pounds (or more!) throughout a single day, but you might only lose two pounds of fat in a given week.
            </p>

            <p>
                What we need to do is pick a challenge to beat every day. Something short enough that we can stay focused on it all in one attempt. Something like... an exercise challenge!
            </p>

            <h2 class="is-3">Addicted to progress</h2>

            <p>
                This app is here to help you set short-term process goals so that you can automate the exercise portion of your health and fitness desires.
            </p>

            <p>
                Exercise is not the whole story -- you still need to sleep well and eat appropriately -- but exercise helps. We want to do everything we can to help you get better every day.
            </p>

            <p>
                What we can do, then, is measure your best performance on any given day. Like good little scientists, we'll measure your repeated performance on a standardized task: a fitness challenge.
            </p>

            <p>
                The best part of fitness is that it kind of doesn't matter what you do, as long as you <strong>persist.</strong> Do something every day. Do something even when it's raining. Do something even when you have a wedding to attend. Do something even when it's your birthday. Do something to get better every day.
            </p>

            <p>
                Put briefly, fitness is simple, but not easy.
            </p>

            <p>
                As you stay persistent and measure your performance every day, you'll notice that... HEY! You've gotten better.
            </p>

            <p>
                You might even start to crave the fitness. Progress is addicting. Everyone wants to get better.
            </p>

            <p>
                That's what this site is here to help with: give you challenges, and help you measure your progress.
            </p>

            <h2 class="is-3">Set your own records</h2>
            
            <p>
                Every day is different. Every lift is different. Physiology fluctuates.
            </p>

            <p>
                Think about a time when you got in an argument with a significant other over something so miniscule that it's almost comical. That fight can happen for dumb reasons. Maybe you were tired. Maybe you were hungry. Maybe what they said set you off only because of something that happened at work earlier.
            </p>

            <p>
                You will be different every day. Even your fitness can fluctate roughly 20% in any given day!
            </p>

            <p>
                As we persist, doing exercise even when we don't feel like it, our goal needs to shift. Sometimes, when things are tough, simply completing a challenge is worth celebrating. Nevermind the fact that it's the WORST score you've ever gotten. For you, in that moment on that day, that was the best you could ever expect to do. That should make you proud.
            </p>

            <p>
                Every time we complete a challenge, we've set a record.
            </p>

            <p>
                Sometimes, we even set a better score than we've EVER done before. We might call that a "personal record", or "PR" for short.
            </p>

            <p>
                This site is here to help you find new challenges and track your fitness records.
            </p>

            <h2 id="how-it-works" class="is-3">How to use this site</h2>

            <p>
                First, <a href="{% url 'account_signup' %}">make an account.</a>
            </p>

            <p>
                Second, <a href="{% url 'challenge_filtered_list' %}">select a challenge from the list.</a>
            </p>

            <p>
                Third, submit your score.
            </p>

            <p>
                Fourth, be persistent.
            </p>

        </div><!-- .content -->
        
    </div><!-- .column is-three-fifths -->
    
    <div class="column is-hidden-mobile"></div>
</div>
{% endblock content %}
    
